
.informacion {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



body {
    background-image: url("../../assets/images/fondopagina.webp");
    color: $color-principal;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    height: 100vh;
}




.tituloarticulo {
    font-size: 25px;
}


.informacion {
    div {
        margin: 20px;
    }
}



.form {
    border: yellow 2px solid;
    border-radius: 20px;
    margin-top: 35px;
    text-align: left;
    padding: 40px;
}

.form {
    div {
        padding: 10px;
    }
}

.form-groupright {
    margin-left: 60px;
}


#videogrid div {
    padding-top: 70px;
}

