
.navbar {
    border-bottom: $border;
    background-color: $fondo;

    .logoportada {
        height: 140px;
        margin-left: 20px;
        margin-top: 10px;
    }
    
}

.navbar-nav {
    li {
        a {
            margin: 20px;
            color: $color-principal;
            font-size: 23px;
        }
    }
}

.collapse {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}